h1 {
    text-align: center;
}
.field {
    height: 10em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#value1 {
    width: 400px;
}
.lb1,
.lb2 {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.btncntr {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.main_title {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.subtitile {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.navi {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
